<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <% if (locals.user) {%>
        <h1>WELCOME BACK <%= locals.user.username %></h1>
        <form action="/auth/logout" method="GET">
            <button type="submit">Logout</button>
        </form>
      <% } else { %>
        <h2>Welcome to the Secret Forum</h2>
        <p>This is a members-only forum where you can login and view and make anonymous posts</p>
        <form action="/auth/login" method="GET">
            <button type="submit">Login</button>
        </form>
      <%}%>
</body>
</html>