<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <% if (locals.error) { %>
            <div class="error">
                <h2><%= locals.error.userNotFound %></h2>
            </div>
        <% } %>
        <form id="login-form" action="/auth/login" method="POST">
            <label for="username">Username</label>
            <input id="username" name="username" placeholder="username" type="text" />
            <% if (locals.errors && locals.errors.username) { %>
                <div class="error"><%= errors.username %></div>
            <% } %>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
            <% if (locals.errors && locals.errors.password) { %>
                <div class="error"><%= errors.password %></div>
            <% } %>
            <button class="login">Log In</button>
        </form>
    </main>
</body>
</html>