.non-logged-in-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.non-logged-in-content-submit-btn {
    padding: 20px 40px;
    border-radius: 16px;
    min-width: 10%;
    border: 1px solid black;
    font-size: 1.5rem;
}

.non-logged-in-content-submit-btn:hover {
    box-shadow: 0 0 1px 1px var(--btn-box-shadow-color);
}